html {
    -webkit-text-size-adjust: 100%;
}
body {
    font: 16px Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}
.wrapper {
/*    margin: 1em 2em;*/
	max-width: 830px;
	margin: 2em auto;
	padding: 0 1em;
	line-height: 1.6em;
/*	font: 105%/1.3em Monaco;*/
}
.postslist {
    margin: 0;
    padding-left: 30px;
    list-style-position: inside;
}
.date {
    color: #ddd;
    font-size: 76%;
}

h1 {
    font-weight: normal;
    font-size: 1.5em;
	margin-top: 1.2em;
}
a {
    color: rgb(65, 110, 210);
}
a:visited {
    color: rgb(32, 0, 127);
}
#links-holder {margin-left:6px;}
#links-holder img {display:inline-block; vertical-align:middle}

/* gray overlay */
#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 8000;
  background-color: rgba(0, 0, 0, 0.5);
}

#donateModal {
  display: none;
  position: absolute;
  top: 50%;
  z-index: 9000;
  width: 423px;
  margin-top: -120px;
}

#donateModal.is-active {
  display: block;
}

#donateCloseHandle {
  position: absolute;
  cursor: pointer;
  z-index: 9950;
  width: 30px; height: 28px;
  text-align: center;
  top: 8px; right: 10px;
  font-family: monospace;
  font-size: 1.2em;
  background:#efefef;
  border:1px solid #ddd;
}