html {
    -webkit-text-size-adjust: 100%;
}
body {
    font: 16px Helvetica, sans-serif;
    line-height: 160%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}
.wrapper {
    margin: 1em 2em;
}
.postslist {
    margin: 0;
    padding-left: 30px;
    list-style-position: inside;
}
.date {
    color: #ddd;
    font-size: 76%;
}

h1 {
    font-weight: normal;
    font-size: 1.5em;
}
a {
    color: rgb(65, 110, 210);
}
a:visited {
    color: rgb(32, 0, 127);
}