html {
    -webkit-text-size-adjust: 100%;
}
body {
    font: 16px Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}
.wrapper {
/*    margin: 1em 2em;*/
	max-width: 830px;
	margin: 2em auto;
	padding: 0 1em;
	line-height: 1.6em;
/*	font: 105%/1.3em Monaco;*/
}
.postslist {
    margin: 0;
    padding-left: 30px;
    list-style-position: inside;
}
.date {
    color: #ddd;
    font-size: 76%;
}

h1 {
    font-weight: normal;
    font-size: 1.5em;
	margin-top: 1.2em;
}
a {
    color: rgb(65, 110, 210);
}
a:visited {
    color: rgb(32, 0, 127);
}